:root{
    --cor- : white;
}

nav {
  width: 100%;
  height:90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 70px;
  background-color: #0F0F10;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
 
 

}

nav .logo {
    width: 10%;
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
}
nav .logo img {
    width: 40px;
    height: 40px;
}
nav .menu {
    width: 50%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .menu ul  {
    list-style-type: none;
}
nav .menu ul li {
    display: inline-block; /*Faz com que os elementos fiquem um ao lado do outro*/
    padding: 0 40px; /*Espacamento do topo e direita*/
    font-weight: 600;
}
nav .menu ul a {
    text-decoration: none;
    color: var(--cor-);
}
 nav ul a li:hover {
    color: var(--cor-);
    transform: scale(1.30); /*Aumenta o tamanho do elemento*/
    transition: 0.3s; /*Tempo de transicao*/
  }
 nav ul a li i {
font-size: 20px;
  }